.label {
    color: #8d8d8d !important;
}

.label.Mui-focused {
    color: #a4c6f8 !important;
}

.MuiOutlinedInput-root {
    color: white !important;
}

/* .MuiOutlinedInput-root.Mui-focused {
    color: white !important;
} */

.MuiOutlinedInput-root fieldset {
    border-color: #8d8d8d !important;
    border-radius: 8px;
    border-width: 2px;
}

.MuiOutlinedInput-root:hover fieldset {
    border-color: white !important;
}

.MuiOutlinedInput-root.Mui-focused fieldset {
    border-color: #a4c6f8 !important;
}