.inputContainer {
    width: 400px;
    margin: 20px;
}
.loginbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.forgetpassword{
    color: white;
    cursor: pointer;
    font-family: sans-serif;
    margin-left: 20px;
}
